h1 {
    margin: 0px;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    background-color: blanchedalmond;
}

.title {
    text-align: center;
    background: #99CCFF;
    color: #FFFFFF;
    background-color: #66CCFF;
    height: 100px;
    font-family: 'Goldman', cursive;
    font-size: 2.5rem;
    text-shadow: white 1px 0 10px;
}

.grid {
    box-shadow: 3px 3px 3px rgb(206, 186, 186);
    height: 816px;
    width: 816px;
    display: flex;
    flex-wrap: wrap;
    flex: none;
    margin: auto;
    background-image: url(/assets/RealBackground.jpg);
}

.newNode {
    width: 100px;
    height: 100px;
    display: flex;
    &:hover {
        cursor: pointer;
    }
}

.whitepiece {
    background-color: whitesmoke;
    width: 90px;
    height: 90px;
    margin: auto;
    z-index: 1;
    border-radius: 50em;
    box-shadow: 3px 3px 3px rgb(206, 186, 186);
}

.blackpiece {
    background-color: black;
    width: 90px;
    height: 90px;
    margin: auto;
    z-index: 1;
    border-radius: 50em;
    box-shadow: 3px 3px 3px rgb(206, 186, 186);
}

.footer {
    text-align: center;
    font-family: 'Goldman', cursive;
    font-size: 2em;
}